body {
    border: 2px solid grey;
    width: 100%;
    overflow: scroll;
}
header {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    padding-left: 30px;
    justify-content: space-around;
    align-items: center;    
    width: 100%;
    position: fixed;
    z-index: 2;
    flex-direction: row;
    background-color: white;
}
.logo {
    color: mediumaquamarine;
    width: 70%;
    height: 80px;
}

.logo img {
    margin-right: 12px;
}
nav {
    padding-right: 40px;
}
nav span {
    display: inline-block;
    padding: 20px 10px;

}
a {
    color: black;
}
div p{
    margin: 0px 0px;
}
.main {
    display: flex;
    flex-direction: row;
    position: static;
    justify-content: center;
    width: auto;
    position: absolute;
    margin: 0px;
    border: 1px solid black;
    font-family: Georgia;
    font-size: 17px;


}
.main div {
    justify-content: space-around;
    width: auto;
    flex-wrap: wrap;
}
.column.large {
    display: block;
    width: 630px;
    flex-flow: column wrap;
    margin: 40px 10px 40px 0px;
    border: 4px solid black;   
}
.mother {
    height: 300px;
    margin:0px 0px;
    border-bottom: 1px solid black;
    justify-content: flex-end;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
    color: white;
    font-size: 40px;
}
.orca {
    border-top:4px solid black;
    border-bottom:2px solid black;
}
.earth {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
    height: 300px;
    margin-top: 15px;
}
.burgers {
    border-top: 4px solid black;
}
.research {
    border-top: 2px solid black;
    border-bottom: 3px solid black;
}
.column.medium {
    border: 4px solid black;
    display: flex;
    width: 300px;
    flex-direction: column;
    margin:40px 20px 40px 20px;
}
.fbi {
    border-bottom: 3px solid black;
}
.cats {
    border-bottom: 3px solid black;
}
.column.small {
    display: flex;
    width: 240px;
    flex-flow:column wrap;
    margin: 40px 30px 40px 10px;
    border: 2px solid black;
    justify-content: flex-start;
}
.small img {
    position: static;
    height: 240px;
    align-items: center;


}
.bites {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    align-items: flex-start;
    align-content: flex-end;
}