body {
    border: 2px solid grey;
    width: 100%;
    height:100%;
    overflow: scroll;
}
header {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    padding-left: 30px;
    justify-content: space-between;  
    width: 100%;
    position: fixed;
    z-index: 2;
    flex-direction: row;
    background-color: white;
    list-style: none;
}
.logo {
    display: flex;
    align-items: center;
    color: mediumaquamarine;
    width: 70%;
    height: 80px;

}

.logo img {
    margin-right: 12px;
}
nav {
    display: flex;
    justify-content: flex-end;
    padding-left: 25px;
    padding-right:40px;
    align-items: center;

}
nav span {
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    padding: 20px 10px;
    width:90%;
    list-style: none;
}
a {
    color: black;
}
div p{
    margin: 0px 0px;
}
p {
   display: flex; 
}
ul {
    margin: 0px 0px;
    padding: 11px 20px;
    width: 200px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-width: 1px;
}
.main {
    display: inline-flex;
    flex-direction: row;
    position: static;
    justify-content: center;
    width: 100%;
    position: absolute;
    margin: 0px;
    border-top: 1px solid black;
    font-family: Georgia;
    font-size: 17px;
}
.main div {
    flex-wrap: wrap;
    justify-content: space-around;
}
.column.large {
    display: flex;
    width: 630px;
    margin: 40px 10px 40px 0px;  
}
.mother {
    height: 300px;
    margin:0px 0px;
    border-bottom: 1px solid black;
    justify-content: flex-end;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.orca {
    display: flex;
}
.earth {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
    height: 300px;
    margin-top: 15px;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    display: inline-flex;
}
.second {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.burgers {
    display: flex;
    flex-direction: column;
}
.research {
    border-top: 2px solid black;
    border-bottom: 3px solid black;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
    height: 300px;
    font-family: Georgia;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    display: inline-flex;
}
.third {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.column.medium {
    display: flex;
    width: 300px;
    flex-flow: column wrap;
    margin:40px 20px 40px 20px;
    justify-content: flex-start;
}
.cats {
    border-bottom: 3px solid black;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
    height: 300px;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
}
.column.small {
    display: flex;
    width: 240px;
    flex-flow:column wrap;
    margin: 40px 30px 40px 10px;
    justify-content: flex-start;
}
.small img {
    position: static;
    height: 240px;
    align-items: center;
}
.bites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    font-size: 16px;
}
.list {
    display: flex;
    flex-direction: column;
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
    padding-right: 0px;
}
.earth,.research,.cats {
    text-align: center;
}
footer {
    margin: auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 325px;
    background-color: MediumAquamarine;
}
.info {
    display: flex;
    font-family: Verdana;
    font-size: 12px;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-right: 2px solid white;
    padding-right: 25px;
}
.footer.list {
    display: flex;
}